@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap);

::-webkit-scrollbar {
    width: 6px
}

::-webkit-scrollbar-track {
    background: #f1f1f1
}

::-webkit-scrollbar-thumb {
    background: #949494
}

html {
    scroll-behavior: smooth
}

body {
    font-family: "Roboto Condensed", sans-serif
}

:root {
    --first-white: #fff;
    --first-orange: #f9ab00;
    --first-dark: hsla(0, 0%, 100%, 0);
    --second-dark: #000
}

.navbar {
    z-index: 2
}

.logo h2 {
    font-size: 1.5rem;
    position: relative;
    text-transform: uppercase;
    color: #343a40 !important;
    margin-top: 1rem;
    
}

.logo h2:after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    color: #fff;
    color: var(--first-white);
    -webkit-text-stroke: 0 #383d52;
    border-right: 2px solid #fff;
    border-right: 2px solid var(--first-white);
    overflow: hidden;
    -webkit-animation: animate 6s linear infinite;
    animation: animate 6s linear infinite
}

@-webkit-keyframes animate {

    0%,
    10%,
    to {
        width: 0
    }

    70%,
    90% {
        width: 100%
    }
}

@keyframes animate {

    0%,
    10%,
    to {
        width: 0
    }

    70%,
    90% {
        width: 100%
    }
}

nav a.nav-link {
    font-size: .8rem;
    letter-spacing: .0375rem
}

nav ul li {
    text-transform: uppercase
}

.navbar-nav>li>a {
    margin-right: .75rem;
    color: #fff !important;
    color: var(--first-white) !important;
    border-top: .1875rem solid hsla(0, 0%, 100%, 0);
    border-top: .1875rem solid var(--first-dark)
}

.navbar-brand {
    max-width: 17025rem;
    padding: 0;
    height: 5rem
}

.navbar-nav>li>a.active,
.navbar-nav>li>a.active:focus,
.navbar-nav>li>a:hover {
    border-top: .1875rem solid #fff;
    border-top: .1875rem solid var(--first-white)
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .55);
    border-color: #fff !important
}

.navbar-toggler:focus {
    box-shadow: none !important
}

.header-wraper {
    position: relative;
    background: url(/static/media/background.ff802ca5.jpg);
    background-size: cover;
    background-position: 50%;
    height: 90vh
}

.main-info {
    display: -webkit-flex;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 8rem;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    z-index: 2
}

.main-info h1 {
    text-transform: uppercase
}

.main-info h1,
.typed-text {
    color: #fff;
    color: var(--first-white)
}

.typed-text {
    font-size: 2rem
}

.btn-main-offer {
    border: 1px solid #fff;
    border: 1px solid var(--first-white);
    text-transform: uppercase;
    border-radius: 0;
    padding: .625rem .75rem .75rem;
    color: #fff;
    color: var(--first-white);
    margin: 2rem;
    cursor: pointer
}

.btn-main-offer:hover {
    text-decoration: none;
    background-color: #fff;
    background-color: var(--first-white);
    color: #000;
    color: var(--second-dark)
}

.tsparticles-canvas-el {
    position: absolute;
    height: 100vh;
    width: 98vw !important;
    z-index: 1
}

@media (max-width:768px) {
    .particles-canvas {
        display: none
    }

    .main-info h1 {
        font-size: 1.7rem
    }

    .typed-text {
        font-size: 1.3rem
    }

    .logo {
        font-size: 1rem;
        margin-top: 25px
    }
}

.section_subtitle {
    margin-bottom: 30px;
    padding-left: 7px;
    font-size: 25px;
    text-transform: uppercase;
    border-left: 3px solid #000;
    border-left: 3px solid var(--second-dark);
    font-weight: 700
}

.section_main_title {
    margin-top: 0;
    margin-bottom: 37px;
    font-size: 30px;
    line-height: 1.27;
    font-weight: 300;
    text-transform: uppercase
}

.about-section {
    margin-top: 6.25rem;
    margin-bottom: 7.5rem
}

.about-me {
    margin-right: 30px
}

.me-img {
    width: 100%
}

.about-box {
    box-shadow: inset 0 0 0 10px #000;
    box-shadow: 0 0 0 10px var(--second-dark) inset;
    margin-right: 0;
    margin-top: 0;
    position: relative;
    display: block
}

.about-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #000;
    background-color: var(--second-dark);
    opacity: .5;
    z-index: 3
}

.about-box img,
.about-overlay {
    width: 100%;
    transform: translateY(30px) translateX(-30px);
    -webkit-transform: translateY(30px) translateX(-30px)
}

.about-box img {
    z-index: 1
}

@media (max-width:768px) {
    .about-box {
        display: none
    }
}

.skills_title {
    margin-bottom: 30px;
    padding-left: 7px;
    font-size: 25px;
    color: #fff;
    color: var(--first-white);
    text-transform: uppercase;
    border-left: 3px solid #fff;
    border-left: 3px solid var(--first-white);
    font-weight: 700
}

.bg {
    background: linear-gradient(90deg, #171717, #434343);
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 40px
}

.skills ul {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.skills li {
    color: #fff;
    color: var(--first-white);
    text-transform: uppercase;
    padding: 20px;
    -webkit-flex: 50% 1;
    flex: 50% 1
}

.skills li::marker {
    content: "\f054";
    font-family: "Font Awesome 5 free";
    font-weight: 700
}

.project {
    padding-top: 80px;
    padding-bottom: 40px
}

.project_title {
    margin-bottom: 30px;
    padding-left: 7px;
    font-size: 25px;
    color: #000;
    color: var(--second-dark);
    text-transform: uppercase;
    border-left: 3px solid #000;
    border-left: 3px solid var(--second-dark);
    font-weight: 700
}

.card:hover {
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, .253) !important
}

.card-body {
    padding: 3rem 0 !important
}

.card-text {
    font-size: .9rem;
    padding: .4rem 1.9rem
}

.card-title a {
    padding: 1rem
}

.card {
    padding: 0 !important;
    margin: 10px
}

.use-wrapper span {
    display: inline-block;
    background-color: #000;
    background-color: var(--second-dark);
    color: #fff;
    color: var(--first-white);
    padding: .5rem 1.2rem;
    border-radius: 4px;
    margin-right: .5rem;
    margin-top: .5rem;
    font-size: .9rem
}

.card img {
    height: 150px
}

#contact {
    background: linear-gradient(90deg, #171717, #434343);
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 70px
}

.contact-title {
    margin-bottom: 30px;
    padding-left: 7px;
    font-size: 25px;
    color: #fff;
    color: var(--first-white);
    text-transform: uppercase;
    border-left: 3px solid #fff;
    border-left: 3px solid var(--first-white);
    font-weight: 700
}

.form-control {
    border: 0 !important;
    background: inherit !important;
    border-bottom: 3px solid #fff !important;
    border-bottom: 3px solid var(--first-white) !important;
    border-radius: 0 !important;
    color: #fff !important;
    color: var(--first-white) !important
}

.form-control::-webkit-input-placeholder {
    color: #fff !important;
    color: var(--first-white) !important;
    text-transform: uppercase;
    opacity: .4 !important
}

.form-control:-ms-input-placeholder {
    color: #fff !important;
    color: var(--first-white) !important;
    text-transform: uppercase;
    opacity: .4 !important
}

.form-control::placeholder {
    color: #fff !important;
    color: var(--first-white) !important;
    text-transform: uppercase;
    opacity: .4 !important
}

input:active,
input:focus {
    outline: none !important;
    border: none !important;
    border-bottom: 3px solid #fff !important;
    border-bottom: 3px solid var(--first-white) !important
}

textarea.form-control {
    resize: none
}

.btn .form-control {
    background-color: #fff !important;
    background-color: var(--first-white) !important
}

.btn-info {
    text-decoration: none;
    text-transform: uppercase;
    background-color: inherit !important;
    color: #fff !important;
    color: var(--first-white) !important;
    border: 0 !important;
    border-radius: 0 !important;
    border-bottom: 3px solid #fff !important;
    border-bottom: 3px solid var(--first-white) !important
}

.btn-info:hover {
    color: #000 !important;
    background-color: #fff !important;
    background-color: var(--first-white) !important;
    border-radius: 0 !important
}

.btn-info:hover,
.res {
    text-transform: uppercase
}

.res {
    padding-top: 20px;
    font-size: 20px;
    color: #fff;
    color: var(--first-white)
}

.footer {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    color: #000;
    color: var(--second-dark);
    padding-top: 20px
}

.footer,
.footer ul {
    display: -webkit-flex;
    display: flex
}

.footer ul {
    list-style: none;
    -webkit-justify-content: flex-end;
    justify-content: flex-end
}

.footer p {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 3rem;
    padding-left: 20px
}

.footer ul .social-links {
    margin: 0 1.5rem;
    line-height: 0;
    padding-left: 0
}

.footer ul li a {
    width: 2.3rem !important
}

.footer .footer-logo {
    text-transform: uppercase;
    font-size: 30px
}

.footer ul li a .social-svg {
    border-radius: 0 !important
}

@media only screen and (max-width:1080px) {
    .footer {
        -webkit-flex-direction: column;
        flex-direction: column;
        text-align: center;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .footer,
    .footer ul {
        display: -webkit-flex;
        display: flex
    }

    .footer ul {
        width: 90%;
        -webkit-justify-content: center;
        justify-content: center
    }

    .footer .footer-logo {
        text-transform: uppercase;
        font-size: 25px;
        padding-bottom: 20px
    }

    .footer p {
        text-transform: uppercase;
        font-size: 1rem;
        padding: 0 5px
    }
}

.footer ul li a {
    width: 1.9rem !important
}

/*# sourceMappingURL=main.7d3781f9.chunk.css.map */